HYPERAPI_KEY=your_hyperapi_key_here
HYPERAPI_URL=your_hyperapi_url_here

AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_DEFAULT_REGION=ap-south-1
BEDROCK_MODEL_ID=your_bedrock_model_id